@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color:  black;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.right-links {
  margin-left: auto;
}

.right-links,
.left-links {
  display: flex;
  gap: 20px;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.11);
}

.footer li a {
  color: gray;
}
